<div class="page">
  <img src="images/home.png" alt="home">
  <div class="center-search">
     <h1>WELCOME TO OUR WORD</h1>
    <a href="/register">
      <button class="button-home">Would you like to register</button>
    </a>
    <a href="/login">
      <button class="button-home">Get in</button>
    </a>
  </div>
</div>

