body {
  text-align: center;
  font-family: 'FuturaRennerRegular';
  font-weight: normal;
  font-style: normal;
}

.page{
  position: fixed;
}
.page img{
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}

.center-search{
  margin: 150px 0 0 400px;
  position: absolute;
  text-align: center;
}

.center-search > h1, a, div{
  color: white;
  width: 400px;
}

.button-home{
  font-size: 1.5em;
  margin: 25px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  color: white;
}
.transparent{
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  }